*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/* // ::selection {
//   background: scroll;
// } */
html {
  scroll-behavior: smooth;
  /* font-size: 62.5%; */
  /* the default fontsize by browser is 16px
  100% is equals 16px ,62.5% = 10px */
}
body {
  font-family: 'lato', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  /* // background-color: $Grey-light-1; */
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #000;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* a:focus{
    background: yellow;
    color: red;
  
} */
img {
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s ease-in-out;
  backface-visibility: hidden;
  overflow: hidden;
  object-fit: contain;
  aspect-ratio: 1/1;
}
